.Hangman {
  text-align: center;
}

.Hangman div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.UserInput {
  margin-top: 10px;
}

.Hangman div.Title {
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding: 10px;
  margin-top: 0px;
  background-color: lightgreen;
}

.Hangman div.Phrase {
  font-weight: bold;
  font-family: "Courier New", monospace;
}

.Hangman div.congratulations {
  color: darkorchid;
  font-weight: bolder;
}

.Hangman div.gameover {
  color: darkred;
  font-weight: bolder;
}

/*.Gallows {*/
/*  text-align: center;*/
/*}*/